input[type="text"] {
  outline: none;
}

.done {
  text-decoration: line-through;
}

button {
  border: 1px solid #000;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 10px;
}

li {
  margin: 5px;
}
